<div class="wrapper">
  <div class="logo">Trucking</div>
  <div><%= link_to 'LOG IN', login_path, id: "btn-login" %></div>    
  <div><%= link_to 'SIGN UP', new_user_path, id: "btn-signup" %></div>    
</div>

   
  <br>
  
