<% provide :page, "All Travels" %>

<h2>All Travels</h2>
<ul>
  <% @travels.each do |travel| %>
    <li>ID: <%= travel.id %></li>
    <li>Travel name: <%= travel.name %></li>
    <li>Kilometers for this travel: <%= travel.kilometers %>.</li>
    <li>Author: <%= link_to(travel.author.name, user_path(travel.author)) %></li>
    <br>
  <% end %>
</ul>



