<% provide :page, @travel.name %>

<p>ID: <%= @travel.id %></p>
<p>Travel name: <%= @travel.name %></p>
<p>Kilometers: <%= @travel.kilometers %></p>
<p>Author: <%= link_to(@travel.author.name, user_path(@travel.author)) %></p>