<% provide :page, "All Citys" %>

<h2>All Citys</h2>
<ul>
  <% @groups.each do |group| %>
    <li>ID: <%= group.id %></li>
    <li>Group name: <%= group.name %></li>
    <li>Icon for this group: <%= group.icon %>.</li>
    <li>Author: <%= link_to(group.author.name, user_path(group.author)) %></li>
    <br>
  <% end %>
</ul>

