<% provide :page, @group.name %>

<p>ID: <%= @group.id %></p>
<p>Group name: <%= @group.name %></p>
<p>Icon: <%= @group.icon %></p>
<p>Author: <%= link_to(@group.author.name, user_path(@group.author)) %></p>