@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.wrapper{
  position: absolute; 
  display: grid;
  width: 100%;
  height: 100%;
}

.new-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0;
  background: #54b31b;
  color: white;
  border: 0;
  padding: 20px;
  
  
  a {
    width: 100%;    
    border: 2px solid white;
    border-radius: 8px;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
  }
}

.alert {
  font-size: 2.3em;
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  padding-left: 54px;    
}

.alert-success {
  background-color: #54b31b; /* Red */
}

.alert-warning {
  margin-top: 40px;
  background-color: #f56257; /* Red */
}

// -------------- Form (travel, city)
.mob-form {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  margin-top: 30px;  
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin: 0;

  >div {
    position: relative;
    display: inline;
    margin: 30px 0;
    padding: 0;    
  
    // Looks like placeholder
    > label {         
      color: #919295;
      opacity: 0.3;
      font-size: 2.5em;
      position: absolute;
      bottom: -5px;
      left: 49px;

      &:hover {
        color: white;
      }
    }

    > input[type="text"] {
      width: 100%;      
      margin: 0;
      padding: 20px 20px 20px 50px;
      background: white;
      border: 1px solid #bbb;      
      box-sizing: border-box;
      font-size: 2.3em;      

      &:focus {
        z-index: 1;
        // removing default focus style
        outline: 0;
        // adding new one
        background: white;
  
        & + label {
          opacity: 0;
        }
      }
    }
  }
  
  .tv-select-group {
    width: 94%;
    height: 84px;    
    border: 1px solid #bbb;    
  }

  .tv-select-group {    
    position: absolute;
    top: 139px;
    left: 0;
    z-index: 1;
    font-size: 2.3em;    
    background: transparent;
    appearance: none;
    cursor: pointer;    
    padding: 5px 30px;
  }

  .tv-select {
    width: 100%;
    height: 84px;
    position: relative;
    font-size: 1em;
    border: none;
    background: transparent;
    appearance: none;
    cursor: pointer;
    padding: 5px 15px;
    color: #bbb;
  }

  .tv-select-group, .tv-select option{    
    background: #fff;
  }

  option {
    font-size: 0.5em;
  }

  .tv-select-group:before {
    content: '';
    position: relative;
    top: 150px;
    left: 0;
    height: 84px;
    width: calc(100% - 84px);
    background: #fff;
    z-index: 0;
  }

  .tv-select-group:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 84px;
    height: 94px;
    width: calc(22% - 14px);
    background-color: #3a78c5;
    background-image: url(https://raw.githubusercontent.com/solodev/styling-select-boxes/master/select1.png);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  > input.hd-button {
    z-index: 999;
    position: relative;
    float: right;
    margin: -242px 30px 0 0;
    background: none!important;
    border: none;
    padding: 0!important;    
    color: white;
    text-decoration: none;
    cursor: pointer;    
  }
}