// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {font-family: "BillabongW00-Regular"; 
  src: url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot"); 
  src: url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot?#iefix") 
  format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff2") 
  format("woff2"), url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff") 
  format("woff"), url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.ttf") 
  format("truetype"), url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.svg#BillabongW00-Regular") 
  format("svg"); }

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

  html,
  body {
    height: 100px;
    margin: 0;
    padding: 0 auto;
    // background: #f1f3f2;
    background-color: black !important;    
  }
  .wrapper{
    position: absolute; 
    display: grid;
    width: 100%;
    height: 100%;    
    grid-template-columns: 95%;
    justify-items: stretch;
    align-items: end;
    align-content: space-around;
    justify-content: center;
    grid-template-columns: 90%;
    grid-template-rows: 77% 10% 10%;
    background: #f1f3f2;    
  }

  #btn-signup{    
    background: #f1f3f2; /* Clear */
    color: #9b9c9e;        
  }
  #btn-login{
    background: #3979c3; /* Blue */
    color: #f1f3f2;    
  }
  a {    
    display: block;
    width: 100%;
    height: 100%;
    margin: 10px 0;    
    border: 0;
    padding: 45px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 3.8em;
    text-align: center;
    text-decoration: none;    
  }
  .logo {
    margin: auto;
    // background: yellow;
    font-family: 'BillabongW00-Regular', 'Pacifico', sans-serif;    
    font-size: 180px;
    color: black;
  }