// Place all the styles related to the travels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.travel-form {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  margin-top: 30px;  
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin: 0;

  >div {
    position: relative;
    display: inline;
    margin: 30px 0;
    padding: 0;    
  
    // Looks like placeholder
    > label {         
      color: #919295;
      opacity: 0.3;
      font-size: 2.5em;
      position: absolute;
      bottom: -5px;
      left: 49px;

      &:hover {
        color: white;
      }
    }

    > input[type="text"] {
      width: 100%;      
      margin: 0;
      padding: 20px 20px 20px 50px;
      background: white;
      border: 1px solid #bbb;      
      box-sizing: border-box;
      font-size: 2.3em;      

      &:focus {
        z-index: 1;
        // removing default focus style
        outline: 0;
        // adding new one
        background: white;
  
        & + label {
          opacity: 0;
        }
      }
    }
  }
  
  .tv-select-group {
    width: 94%;
    height: 84px;    
    border: 1px solid #bbb;    
  }

  .tv-select-group {    
    position: absolute;
    top: 139px;
    left: 0;
    z-index: 1;
    font-size: 2.3em;    
    background: transparent;
    appearance: none;
    cursor: pointer;    
    padding: 5px 30px;
  }

  .tv-select {
    width: 100%;
    height: 84px;
    position: relative;
    font-size: 1em;
    border: none;
    background: transparent;
    appearance: none;
    cursor: pointer;
    padding: 5px 15px;
    color: #bbb;
  }

  .tv-select-group, .tv-select option{    
    background: #fff;
  }

  option {
    font-size: 0.5em;
  }

  .tv-select-group:before {
    content: '';
    position: relative;
    top: 150px;
    left: 0;
    height: 84px;
    width: calc(100% - 84px);
    background: #fff;
    z-index: 0;
  }

  .tv-select-group:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 84px;
    height: 94px;
    width: calc(22% - 14px);
    background-color: #3a78c5;
    background-image: url(https://raw.githubusercontent.com/solodev/styling-select-boxes/master/select1.png);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  > input.hd-button {
    position: relative;
    float: right;
    margin: -242px 30px 0 0;
    background: none!important;
    border: none;
    padding: 0!important;    
    color: white;
    text-decoration: none;
    cursor: pointer;    
  }

}