<ul>
  <% flash.each do |type, msg| %>
    <% if msg.include? 'You are not registered.' %>
    <p class="errors"><%= msg %> <%= link_to 'here.', new_user_path %></p>
    <% else %>
    <p class="errors"><%= msg %></p>
    <% end %>    
  <% end %>
</ul>